# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
Sources/**/.DS_Store
Tests/**/.DS_Store

# CocoaPods
Pods/
*.xcworkspace
!Podfile
!Podfile.lock
!.swift-version
DerivedData/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/*.lock

# Archives
*.xcarchive

# Derived Data
DerivedData/

# Temporary Files
*.moved-aside
*.xcuserstate

# Certificates
*.p12
*.mobileprovision
*.pem

# App Specific Files
*.ipa
*.dSYM.zip
*.dSYM

# SwiftLint
.swiftlint.yml
.swiftlint.autocorrect.yml
